.grid{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 40px auto 40px;
    grid-template-areas:"head  head head" "Menú contenedor enlaces "  "foot foot foot ";
    
}
.a{
grid-area: head;
background-color: blue;
}

.b{
    grid-area: Menú;
    background-color: red;
    }

.c{
    grid-area: contenedor;
    background-color: green;
    }

.d{
    grid-area: foot;
    background-color: orangered;
     }
.e{
    grid-area: enlaces;
    background-color: yellow;
    }

