main{
    margin: auto;
    font-family: 'Franklin Gothic Medium';
    background-color: #A2DAD7;
    width: 100%;

}
#caja1{
    
    width: 10%;
    float: left;
    margin-left: 50px;
    
}
#caja2{
    position: absolute;
    left: 200px;
    top: 10px;
    width: 30%;
    text-align: left;
}
#caja3{
    position: absolute;
    top: 10px;
    right: 20px;
}
header{

    color:black;
    background-image: url("../img/fo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topnav {
    overflow: hidden;
    background-color: black;
   width: 100%;
   
}

.topnav a {
    float: left;
    margin-left: 50px;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: 20px;
}
.footer1{
    overflow: hidden;
    color:black;
}
.footer2{
    background-color: black;
    color: white;
    text-align: center;
}
aside{
    width: 20%;
    float: right;
    float: right;
    color:black;
}
#menuas, #enlacesas{
    border-radius: 10px;
    margin-left: 50px;
    background-color: #61C1BF;
    width: 80%
    
}
a{
    text-decoration: none;
    color: black;
}
article{
    width: 80%;
    float: left;
    grid-area: content;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
section{
    width: 100%;
    margin-left: 50px;
}

#nav1{
    width: 10%;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
}
#caja4{
    float: left;
    width: fit-content;
    margin-left: 75px;
}
#caja5{
    float: left;;
    width: fit-content;
    margin-left: 75px;
}
#caja6{
    float: left;
    width: fit-content;
    margin-left: 75px;

}
#caja7{
    float: left;
    width: fit-content;
    margin-left: 75px;
}

footer{
    clear: both;
    background-color:  #A2DAD7(122, 216, 211);
}

#otroscursos, #experiencia{
    
    border-color: #61C1BF;
    border-collapse: collapse;
}
