
.grid{
  color: gainsboro;
  margin: 0px auto;
  max-width: 1000px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 60px 1fr 100px 50px;
  grid-template-areas: "my-header" "my-nav" "my-section" "my-aside" "my-footer";
 
}
#imagenp{
  height: 200px;
  float: right;
  margin: 50px;
}

.header{
  grid-area: my-header;
  background-color:white;
  color: rgb(11, 4, 75) ;
}
h1{
  font-size: 45px;
  height: 70px;
}
h2{
  color: red;
  font-family: calibri;
  font-size: 40px;
}
img{
 float: right;
 margin: 50px;
}
.nav{
  grid-area: my-nav;
  background-color: #6b705c;
  color: black;
}
h3{
  font-family: calibri;
}

.section{
  grid-area: my-section;
  /*
  background-color: rgb(88, 2, 122);
  */
  background-color: #95d5b2;
  color: black;
  border: 15px solid #1b4332 ;
}
#img1{
  float: left;
}
#img2{
  float: left;
}
#pet{
  float: left;
}
#img3{
  float: left;
}
#medicina{
  float: left;
}
p{
  color: black;
  font-size: 18px;
  font-family: calibri;
}
.footer{
  grid-area: my-footer;
  background-color: #1b4332;
  color: white;
  width: 1030px;
  text-align: center;
  
}
#parrafo{
  color: white;
  font-size: 20px;
  
}
.aside{
  grid-area: my-aside;
  background-color: #40916c;
  color: white;
  font-family: calibri;
  font-size: 18px;
  width: 230px;
}

@media ( min-width: 600px) and (max-width: 1000px){
  .grid{
  grid-template-columns: 30% 70%;
  grid-template-rows: 150px 100px 1fr 100px 50px;
  grid-template-areas: "my-header my-header" "my-nav my-nav" "my-aside my-section" "my-footer my-footer";
}
}
@media ( min-width: 1001px){
.grid{
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 200px 1fr 100px;
  grid-template-areas: "my-header my-header my-header" "my-nav my-section my-aside" "my-footer my-footer my-footer";
}
}